@{
    ViewBag.Title = "Contact Us";
}
<div class="container">

    <h1> Contact Us:</h1>
    <p>
        <ul>
            <li>Email:contact@mymovies.com</li>
            <li>Phone number:+38970123321</li>
        </ul>
    </p>
</div>
