@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model List<MyMovies.Models.Movie>

@{
    ViewBag.Title = "Overview";
}
<form action="/Movies/Overview" method="get" class="form-inline my-2 my-lg-0">
    <div class="form-group mr-sm-2">
        <input type="text" name="Title" value="" class="form-control" placeholder="Search"/>
    </div>
    <div class="form-group my-2 my-sm-0">
        <input type="submit" value="Search" class="btn btn-primary" />

    </div>
</form>

<div class="container">

    <div class="row">

        @foreach (var movie in Model)
        {
            <div class="col-md-3 d-flex pb-5">
                <div class="card">
                    <img src="@movie.ImageURL" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">@movie.Title</h5>
                        <p class="card-text">@movie.Description</p>
                        <a asp-controller="Movies" asp-action="Details" asp-route-id="@movie.Id"  class="btn btn-primary stretched-link">See more...</a>
                    </div>
                </div>
            </div>
        }
    </div>

</div>
