@model List<MyMovies.Models.Movie>

@{
    ViewBag.Title = "Overview";
}


<div class="container" >
    
        <div class="row">

            @foreach (var movie in Model)
            {
                <div class="col-md-3 d-flex pb-5">
                    <div class="card">
                        <img src="@movie.ImageURL" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">@movie.Title</h5>
                            <p class="card-text">@movie.Description</p>
                            <a href="#" class="btn btn-primary stretched-link">See more...</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    
</div>
